doctype html
html(lang="pt-br")
  head
    block head
    link(rel='stylesheet', href='/css/main.css')
  body

    main

      include ../views/header.jade

      block content

      include ../views/footer.jade
